.light-grey {
    color: #737680;
}
span {
    font-size: 12px;
}





.down_items{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.down_items a{
    text-decoration-color: #fdcd4a;

}

.down_items span{
    font-size: 9px;
    color: #343538;
    position: relative;
    letter-spacing: 1.2px;
    font-weight: bold;
    border-bottom: 2px solid #f0b74d;
}

.down_items span #g{    
    display: none;
}

.choose-slider-nav-underline{
    padding-top: 10px;
}
.title-devideer {
    border-top: 2px #fdcd4a solid;
    width: 12%;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 2px;
}

// .choose-your-fabric-color{
//     display: none;
// }
.choose-your-fabric-color .top-details h3{
    font-size: 12px;
}


.fabric-type-list{
    overflow-y: scroll;
    height: 500px;
    width: 100%;
}

  
.fabric-type-list::-webkit-scrollbar {
    width: 5px;
  }
  
.fabric-type-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
}
.selected-fabric-hidden { 
    display:none; 
}
.ArrowImage{
    height: 35%;
}


.choose-slider-nav-underLine-far-color{
    padding-left: 140px;
}