@import "../../../globalStyles/scss/variables.scss";

.home-page {
  &__hero {
    background-color: $blue-overlay;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 12rem 0;

    &-text {
      overflow: hidden;
    }

    @media (max-width: $small-screen) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 56px);
      justify-content: space-between;
      padding: $spacer;

      &-text {
        margin-top: $spacer * 5;
        width: 100%;
      }

      &-action {
        margin-bottom: $spacer * 3;
        width: 100%;
      }
    }

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(45deg);
      padding: $spacer $spacer * 3;
      margin-bottom: $spacer / 2;

      @media (max-width: $small-screen) {
        padding: 0.6rem $spacer;
        width: calc(100% - 4rem);
      }

      h1 {
        display: inline-block;
        transform: skew(-45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: $h1-font-size;
        font-weight: 900;

        @media (max-width: $small-screen) {
          font-size: $h4-font-size;
        }

        @media (min-width: $small-screen) and (max-width: $medium-screen) {
          font-size: 48px;
        }
      }
    }
  }

  &__categories {
    margin-bottom: 2rem;

    h3 {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: 1rem;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;

        > div {
          &:nth-child(3) {
            grid-column: 3 / 1;
          }

          &:nth-child(n + 4) {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: $base-font-color;

        h3 {
          text-transform: uppercase;
          font-weight: $bold-font-weight;

          &:after {
            content: url("../../../images/carousel-arrow.svg");
            display: inline-block;
            transform: rotate(180deg);
            margin-left: 1rem;
          }
        }
      }

      &__image {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;

        &--no-photo {
          background-color: $turquoise-light;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
.build-my-shade-popup{
  width: 656px;
  height: auto;
  position: absolute;
  top: 130px;
  background: #fff;
  left: 18%;
  color: #212224;
  padding: 30px 30px 120px 76px;
}
.popup-title-wrraper{
  max-width: 450px;
  margin: 0px auto 45px;
}
.popup-title-wrraper h2{
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-weight: normal;
  margin-bottom: 0px;
  text-align: center;
}
.popup-title-wrraper .title-devideer {
  border-top: 2px #fdcd4a solid;
  width: 8%;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 52px;
}

.build-my-shade-popup .close_button{
  margin-bottom: 75px;
}
.build-my-shade-popup .popup-content{
  padding-right: 31px;
}
.build-my-shade-popup .popup-content .content-block{
  margin-bottom: 35px;
}
.build-my-shade-popup .popup-content .title{
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  width: 100px;
}
.build-my-shade-popup .popup-content .title-longer{
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  width: 150px;
}
.build-my-shade-popup .popup-content p{
  margin: 0px;
  letter-spacing: 0.4px;
  line-height: 1.56;
}
.build-my-shade-popup .popup-content .content-block.three-items .inner-items{
  display: flex;
  margin-bottom: 12px;
}
.build-my-shade-popup .popup-content .content-block.three-items .inner-items div{
  margin-right: 109px;
}
.build-my-shade-popup .popup-content .content-block.three-items span{
  line-height: 1.59;
  letter-spacing: 0.27px;
}
.build-my-shade-popup .popup-content .slider-block .slider-block-content{
  display: flex;
}
.build-my-shade-popup .popup-content .slider-block .slider-block-content .slider{
  max-width: 172px;
  height: 144px;
  margin-right: 30px;
}
.build-my-shade-popup .popup-content .slider-block .slider-block-content .slider img{
  max-width: 172px;
  height: 144px;
}
.build-my-shade-popup .popup-content .slider-block .slider-block-content .slider-text ul{
  padding-left: 30px;
}
.build-my-shade-popup .popup-content .slider-block .slider-block-content .slider-text ul li{
  margin-bottom: 15px;
}
.build-my-shade-popup .popup-content .slider-block .slider-block-content .slider-text ul li span{
  line-height: 1.59;
  letter-spacing: 0.27px;
}
.build-my-shade-popup .popup-content .slider-block .slider-block-content .slider-text ul li span.light-grey.dark{
  color: #282828;
}