.main-header .up-banner {
  display: flex;
  justify-content: space-between;
}
.main-menu ul {
  display: flex;
  list-style: none;
}
.main-menu ul li {
  margin-right: 49px;
  color: #343538;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1.2px;
}
